@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap:100,300,400,700");

body {
  background-color: #d2dbdd;
}

input {
  margin: 10px;
}

* {
  font-family: "Source Code Pro";
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.Card {
  padding: 30px;
  padding-top: 10px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  max-width: 820px;
  background-color: #fff;
  width: 330px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 5px 13px 10px -7px rgba(0, 0, 0, 0.1);
  margin: auto;
}

h4 {
  text-transform: capitalize;
  display: inline-block;
}

img {
  margin: auto;
  display: block;
}

.type {
  margin-left: 10px;
  padding: 5px 8px 5px 8px;
  display: inline-block;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  font-size: 13px;
  font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
  color: #fff;
  background-color: #68a090;
  border: 1px solid #44685e;
}

.normal {
  background-color: #a8a878;
  border: 1px solid #6d6d4e;
}

.fire {
  background-color: #f08030;
  border: 1px solid #9c531f;
}

.water {
  background-color: #6890f0;
  border: 1px solid #445e9c;
}

.electric {
  background-color: #f8d030;
  border: 1px solid #a1871f;
}

.grass {
  background-color: #78c850;
  border: 1px solid #4e8234;
}

.ice {
  background-color: #98d8d8;
  border: 1px solid #638d8d;
}

.ground {
  background-color: #e0c068;
  border: 1px solid #927d44;
}

.flying {
  background-color: #a890f0;
  border: 1px solid #6d5e9c;
}

.ghost {
  background-color: #705898;
  border: 1px solid #493963;
}

.rock {
  background-color: #b8a038;
  border: 1px solid #786824;
}

.fighting {
  background-color: #c03028;
  border: 1px solid #7d1f1a;
}

.poison {
  background-color: #a040a0;
  border: 1px solid #682a68;
}

.psychic {
  background-color: #f85888;
  border: 1px solid #a13959;
}

.bug {
  background-color: #a8b820;
  border: 1px solid #6d7815;
}

.dark {
  background-color: #705848;
  border: 1px solid #49392f;
}

.steel {
  background-color: #b8b8d0;
  border: 1px solid #787887;
}

.dragon {
  background-color: #7038f8;
  border: 1px solid #4924a1;
}
